<div class="blog">
    <u class="nobull">
      <li>
        <h1>Home</h1>
        <p>
          <%= home %>
        </p>
      </li>

      <% for(i = 0; i < entries.length; i++) { %>
        <li>
          <h1>Day <%= entries[i].day %> </h1>
      
          <div class="row">
            <p class="hide p_<%=entries[i].day %> ">
              <%= entries[i].text %>
              <a class="readLess-<%= entries[i].day %>" href="#" onclick="readMore(this)">Read less</a>
            </p>
            <a  class="readMoreButton readMore-<%= entries[i].day %>" href="#" onclick="readMore(this)">Read more</a>
          </div>
      </li>
          <%}%>
      
    </ul>
  </div>