<%- include('header') %>


<!-- Main  -->
<div class="blog">
    <u class="nobull">
      <li>
        <h1>Home</h1>
        <p>
          <%= home %>
        </p>
      </li>

      <% for(i = 0; i < entries.length; i++) { %>
        <li>
          <h1><%= entries[i].title %> </h1>
      
          <div class="row">
            <p class="hide p_<%=entries[i]._id %> ">
              <%= entries[i].text %>
              <a class="hide-button readLess-<%= entries[i]._id %>" href="#" onclick="readMore(this)">Read less</a>
            </p>
            <a  class="readMoreButton readMore-<%= entries[i]._id %>" href="#" onclick="readMore(this)">Read more</a>
          </div>
      </li>
          <%}%>
      
    </ul>
  </div>

  <%- include('footer') %>